<div class="divd">
		<div class="row">
			<div class="col-md-4 col-md-offset-2">
				<div class="panel panel-default">
					<div class="panel-heading">
						<strong class="">Register</strong>
					</div>
					<div class="panel-body">
						<form class="form-horizontal" role="form">
								<div class="form-group">
										<label for="inputFirstName" class="col-sm-3 control-label">FirstName</label>
										<div class="col-sm-9">
											<input type="firstName" class="form-control" id="firstName"
												placeholder="FirstName" required="">
										</div>
									</div>
									<div class="form-group">
											<label for="inputLastName" class="col-sm-3 control-label">LastName</label>
											<div class="col-sm-9">
												<input type="lastName" class="form-control" id="lastName"
													placeholder="LastName" required="">
											</div>
										</div>
										<div class="form-group">
												<label for="inputEmail3" class="col-sm-3 control-label">Email</label>
												<div class="col-sm-9">
													<input type="email" class="form-control" id="inputEmail3"
														placeholder="Email" required="">
												</div>
											</div>
											<div class="form-group">
													<label for="address" class="col-sm-3 control-label">Address</label>
													<div class="col-sm-9">
														<input type="address" class="form-control" id="address"
															placeholder="Address" required="">
													</div>
												</div>

							<div class="form-group">
								<label for="city" class="col-sm-3 control-label">City</label>
								<div class="col-sm-9">
									<input type="city" class="form-control" id="city"
										placeholder="City" required="">
								</div>
							</div>
							<div class="form-group">
								<label for="state" class="col-sm-3 control-label">State</label>
								<div class="col-sm-9">
									<input type="Stage" class="form-control" id="state"
										placeholder="State" required="">
								</div>
							</div>
							
							<div class="form-group last">
								<div class="col-sm-offset-3 col-sm-9">
									<button type="submit" class="btn btn-success btn-sm">Sign
										Up</button>
									<button type="reset" class="btn btn-default btn-sm">Reset</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- <div class="container">
		<div ng-cloak="" class="tabsdemoDynamicHeight">
			<div class="container" align="center" style="background-color: white">
				<div class="span12" align="center">
					<div ng-controller="register" layout="column" ng-cloak=""
						class="inputdemoErrorsAdvanced">
						<md-content layout-padding="">
						<form name="userForm">
							<div layout="row" layout-xs="column" layout-sm="column"
								layout-align="space-between center">
								<h3>Registration Form</h3>
								<md-input-container> <md-switch
									ng-model="showHints">Showing {{showHints ? "Hints" :
								"Errors"}}</md-switch> </md-input-container>
							</div>
							<hr>
							<div layout-gt-sm="row">
								<md-input-container class="md-block" flex-gt-sm="">
	
								<label>Full Name</label> <input md-maxlength="15" required=""
									name="firstName" ng-model="user.firstName">
	
								<div class="hint" ng-if="showHints">
									Tell us what we should call you!
									<div class="hint" ng-messages="userForm.firstName.$error"
										ng-if="showHints">
										<div class="hint" ng-message="md-maxlength">The FirstName
											has to be less than 15 characters long.</div>
									</div>
								</div>
	
								<div class="hint" ng-messages="userForm.firstName.$error"
									ng-if="!showHints">
									<div class="hint" ng-message="required">FirstName is
										required.</div>
									<div class="hint" ng-message="md-maxlength">The FirstName
										has to be less than 15 characters long.</div>
								</div>
								</md-input-container>
								<div flex="5" hide-xs="" hide-sm="">
									
								</div>
								<md-input-container class="md-block" flex-gt-sm="">
								<label>Last Name</label> <input md-maxlength="15" name="lastName"
									ng-model="user.lastName">
	
								<div class="hint" ng-if="showHints">
									Tell us what we should call you!
									<div class="hint" ng-messages="userForm.lastName.$error"
										ng-if="showHints">
										<div class="hint" ng-message="md-maxlength">The LastName
											has to be less than 15 characters long.</div>
									</div>
								</div>
	
								<div class="hint" ng-messages="userForm.lastName.$error"
									ng-if="!showHints">
									<div class="hint" ng-message="md-maxlength">The LastName
										has to be less than 15 characters long.</div>
								</div>
								</md-input-container>
	
							</div>
							<md-content>
							<div layout-gt-xs="row">
								<md-input-container class="md-block" flex-gt-sm="">
								<label>Email</label> <input name="email" ng-model="user.email"
									required="" minlength="10" maxlength="100"
									ng-pattern="/^.+@.+\..+$/">
	
								<div class="hint" ng-show="showHints">
									How can we reach you?
									<div ng-messages="userForm.email.$error" ng-if="showHints">
										<div class="hint"
											ng-message-exp="['minlength', 'maxlength', 'pattern']">
											Your email must be between 10 and 100 characters long and look
											like an e-mail address.</div>
									</div>
								</div>
	
								<div class="hint" ng-messages="userForm.email.$error"
									ng-if="!showHints">
									<div class="hint"
										ng-message-exp="['required','minlength', 'maxlength', 'pattern']">
										Your email must be between 10 and 100 characters long and look
										like an e-mail address.</div>
								</div>
								<div flex="5" hide-xs="" hide-sm="">
									
								</div>
								</md-input-container>
								<md-datepicker ng-model="user.dob" md-placeholder="Date of Birth">
								</md-datepicker>
							</div>
							</md-content>
	
							<div layout-gt-sm="row">
								<md-input-container class="md-block" flex-gt-sm="">
								<label>Address</label> <input md-maxlength="50" required=""
									name="address" ng-model="user.address">
	
								<div class="hint" ng-if="showHints">
									Tell us where are you stay?
									<div class="hint" ng-messages="userForm.address.$error"
										ng-if="showHints">
										<div class="hint" ng-message="md-maxlength">The Address
											has to be less than 50 characters long.</div>
									</div>
								</div>
	
								<div class="hint" ng-messages="userForm.address.$error"
									ng-if="!showHints">
									<div class="hint" ng-message="required">Address is
										required.</div>
									<div class="hint" ng-message="md-maxlength">The Address
										has to be less than 50 characters long.</div>
								</div>
								</md-input-container>
							</div>
							<div layout-gt-sm="row">
								<md-input-container class="md-block" flex-gt-sm>
								<label>City</label> <input ng-model="user.city"> </md-input-container>
								<md-input-container class="md-block" flex-gt-sm>
								<label>State</label> <md-select ng-model="user.state">
								<md-option ng-repeat="state in states" value="{{state.abbrev}}">
								{{state.abbrev}} </md-option> </md-select> </md-input-container>
								<md-input-container class="md-block" flex-gt-sm>
								<label>Postal Code</label> <input name="postalCode"
									ng-model="user.postalCode" placeholder="123456" required
									ng-pattern="/^[0-9]{6}$/" md-maxlength="6">
								<div class="hint" ng-messages="userForm.postalCode.$error"
									role="alert" multiple>
									<div class="hint" ng-message="required" class="my-message">You
										must supply a postal code.</div>
									<div class="hint" ng-message="pattern" class="my-message">That
										doesn't look like a valid postal code.</div>
									<div class="hint" ng-message="md-maxlength" class="my-message">
										Don't use the long version silly...we don't need to be that
										specific...</div>
								</div>
								</md-input-container>
							</div>
	
							<div layout-gt-sm="row">
								<md-input-container class="md-block" flex-gt-sm="">
								<label>Phone Number</label> <input md-maxlength="10"
									minlength="0" required="" name="phone" ng-model="user.phone"
									ng-pattern="/^([0-9]{10})$/">
	
								<div class="hint" ng-if="showHints">
									Phone number should be of 10 digits!
									<div class="hint" ng-messages="userForm.phone.$error"
										ng-if="showHints">
										<div class="hint" ng-message="md-maxlength">Please enter
											a 10 digit valid phone number.</div>
									</div>
								</div>
	
								<div class="hint" ng-messages="userForm.email.$error"
									ng-if="!showHints">
									<div class="hint" ng-message="required">Phone number is
										required!</div>
									<div class="hint" ng-message="md-maxlength">Please enter a
										10 digit valid phone number.</div>
								</div>
								</md-input-container>
								<div flex="5" hide-xs="" hide-sm="">
									
								</div>
								<div flex-gt-sm="40" layout="column">
									<div>
										<fieldset class="standard">
											<legend>Gender</legend>
											<div layout="row" layout-wrap="" flex="">
												<label> <input type="radio" ng-model="gender"
													value="Female" ng-value="TRUE"> Female
												</label><div flex="10" hide-xs="" hide-sm="">
									
								</div> <label> <input type="radio" ng-model="gender"
													value="Male"> Male
												</label>
											</div>
										</fieldset>
									</div>
								</div>
							</div>
							<div align="center">
								<md-button class="md-raised md-primary">Register</md-button>
							</div>
						</form>
						</md-content>
					</div>
				</div>
			</div>
		</div>
		</div> -->